

h2 {

    font-size: 2.5rem!important;
    text-transform: uppercase;

}

a {
    color: #fff!important;
    text-decoration: none;
    background-color: transparent;
}
p {
    font-size: 16px;
    line-height: 28px;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 20px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    height: 80px;
}

nav {
    font-size: 15px;
    text-transform: uppercase;
}



nav ul li a,
nav ul li a:after,
nav ul li a:active:before {
    transition: all .5s;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgba(255, 255, 255, 0.75);
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.stroke ul li a:active:after {
    width: 100%;
}
nav .navbar-brand {

    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

.solid {
    background-color: #000;
    transition: background-color 1s ease 0s;


}

.solid .navbar-brand {
    color: #fff;
    transition: color 1s ease 0s;
}

.bg-image {

    background: url('../img/home-banner-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin-top: -80px;

}
.layer {
    background-color: rgba(0, 0, 0, 0.3);


    height: 100vh;
}


.bg-image .heading-section {
    top: 40%;
    position: absolute;
    color: #fff;
    z-index: 11;


}

.bg-image .heading-section .heading {
    font-size: 80px;
    font-weight: 700;
}
.bg-image .heading-section p {
    font-size: 24px;

}

.bg-image .heading-section a {
    font-size: 24px;
    color: #fff;


}

.arrow a:hover {
    text-decoration: none;
}


.pt-100 {
    padding-top: 100px !important;
}
.pb-100 {
    padding-bottom: 100px !important;
}

.about-img img {
    width: 100%;
}
 .about-content .social-icons {
    margin-top: 30px;
}

.about-content .about-button {
     margin-top: 40px;
 }



section.about .about-content .social-icons a {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    margin-right: 10px;
    background-color: #222;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #222;
    width: 30px;
    height: 30px;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}


.main-btn {
    display: inline-block;
    background-color: #222;
    padding: 10px 20px;
    border: 2px solid #222;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.offering {
    background-color: #f2f2f2;

    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

.service-div span {
    color: #222;
    display: inline-block;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    line-height: 78px;
    font-size: 30px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

}
.service-div:hover span {
    color: #222;
    display: inline-block;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    line-height: 78px;
    font-size: 30px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-box-shadow: 0px 0px 62px -21px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 62px -21px rgba(168,168,168,1);
    box-shadow: 0px 0px 62px -21px rgba(168,168,168,1);

}

.offering h2 {

    font-size: 2rem;
    margin: 3rem 0;
}



.service-div h4 {

    font-size: 1.5rem;
    margin: 3rem 0 1rem 0;
    text-transform: uppercase;
}

.data-count{
    /* The image used */
    background-image: url("../img/parallax-bg.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery {

    text-align: center;
}

.gallery .item {
     overflow: hidden;
     background: gray;
     opacity: 1;
 }

.gallery .item .image-hov {
    transition: 0.8s ease-in-out;
}

.gallery .item .info {
    position: relative;
    display: inline-block;
}
.gallery .item .description {

    position: absolute;
    display: grid;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    opacity: 1;
    transition: 0.8s ease-in-out;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39)) ;
}

@media (min-width: 576px){
    .gallery .item .description {
         opacity: 0;
     }

    .gallery .item .description:hover {
        opacity: 1;
    }

    .gallery .zoom-on-hover:hover img{

        transform: scale(1.3);
        opacity: 0.7;
        transition: 0.8s ease-in-out;

    }
}


.gallery img {

    width: 100%;
    height: 100%;
}

#baguetteBox-overlay .full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;

    box-shadow: none!important;
    padding: 5% 0;
}

.baguetteBox-button:focus {
    outline-color: transparent;
}

.blog {
    text-align: center;
    background-color: #f2f2f2;

}

.contact {
    text-align: center;
}

footer {
    background-color: #252525;
    color: #fff;
    padding: 50px 0;
}

footer hr {



}

